# Хранится в settings.py в переменной SECRET_KEY приложения SecondBloom
DJANGO_SECRET_KEY='YourSecretKeyHere' 

# Параметры подключения к базе данных PostgreSQL с PostGIS для .env
DB_NAME='YourDBNameHere'
DB_USER='YourDBUserHere'
DB_PASSWORD='YourDBPasswordHere'
DB_HOST='YourDBHostHere'
DB_PORT='YourDBPortHere'