<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/login.css">        <title>Личный кабинет</title>
    </head>
    <body>
        <header class="header">
            <p class="logo">SecondBloom</p>
            <nav class="nav">
                <ul class="navigation">
                    <li class="navigation-item">Главная</li>
                    <li class="navigation-item">FAQ</li>
                </ul>
            </nav>
            <a class="personal-account"><img src="/static/img/account.png" alt="Личный кабинет"></a>
        </header>
        <main>
            <section>
              <p><a class="back" href="#"><img src="/static/img/arrowLeft.png" alt="стрелка назад"> Назад</a></p>
              <div class="avatar">
                <img src="/static/img/avatar.png" alt="Аватар">
                <h2 class="name">Карина Никитина</h2>
                <p><a class="exit">Выйти</a></p>
              </div> 
              <p><a class="add" href="#">Добавит пункт</a></p>
            </section>
        </main>
    </body>
</html>